Minecraft/Plugins/servermonitor/paper
Minecraft/Plugins/servermonitor/build
Minecraft/Plugins/servermonitor/.idea
Minecraft/Plugins/servermonitor/.gradle
Minecraft/Plugins/servermonitor/gradle
/.idea
/Spillkveld.iml
/gradle/
/.gradle/
/build/
